{% extends "app/layout.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="border border-gray-200 bg-sky-100 w-3/5 mx-auto mt-28 px-5 py-4 rounded-xl shadow-lg">
        <div class="flex justify-between">
            <p class="mt-8 text-4xl text-sky-700 leading-relaxed">This platform aims to register your grievance and assist you in its redressal.</p>
            <img src="{% static 'images/Active Support-rafiki.svg' %}" class="w-96">
        </div>
        <div class="w-max flex space-x-6">
            <a href="{% if user.is_authenticated %}
                        {% url 'register_grievance' %}
                    {% else %}
                        {% url 'login' %}
                    {% endif %}" class="p-3 border border-gray-200 bg-sky-400 hover:bg-sky-600 rounded">Register Grievance</a>
            <a href="{% if user.is_authenticated %}
                        {% url 'track_grievance' %}
                    {% else %}
                        {% url 'login' %}
                    {% endif %}" class="p-3 border border-gray-200 bg-sky-400 hover:bg-sky-600 rounded">Track Grievance Status</a>
        </div>
    </div>
    <div class="flex border border-gray-200 bg-sky-100 w-3/5 mx-auto mt-12 px-5 py-4 rounded-xl shadow-lg">
        <div>
            <p class="text-4xl text-sky-700">About Our Grievance Redressal Portal</p>

            <p class="mt-4 text-xl">Welcome to our online Grievance Redressal Portal, a platform dedicated to ensuring that your concerns and grievances are heard, addressed, and resolved efficiently. We understand the importance of transparent and responsive grievance handling, and our portal is designed to empower users, foster accountability, and drive positive change.</p>
                
            <p class="mt-8 mb-4 text-4xl text-sky-700">Our Mission</p>
                
            <p class="text-xl">Our mission is to provide a seamless and user-friendly interface that allows individuals to voice their grievances and concerns with confidence. We are committed to upholding the principles of fairness, transparency, and swift resolution. By harnessing the power of technology, we aim to make the grievance redressal process more accessible, efficient, and effective.</p>
        </div>
        <img src="{% static 'images/Questions-pana.svg' %}" class="w-96">
    </div>
{% endblock %}