{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | OGRP</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex flex-col justify-between h-screen">
        <nav
            class="px-32 py-6 flex justify-between items-center border-b border-gray-200 fixed right-0 left-0 top-0 bg-gradient-to-r from-cyan-200 to-blue-300 text-gray-700 shadow-lg"
        >
            <a class="text-2xl flex" href="/"
                ><img
                    class="w-8 mx-3"
                    src="{% static 'images/icons8-handshake-80.png' %}"
                />Online Grievance Redressal Portal</a
            >
            <div
                id="google_translate_element"
                class="fixed top-20 right-2"
            ></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement(
                        { pageLanguage: "en" },
                        "google_translate_element",
                    );
                }
            </script>

            <script
                type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
            ></script>
            <div>
                <ul class="flex space-x-6">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="p-1 border-b border-gray-200" href="#"
                            ><strong>Welcome, {{ user.username }}</strong></a
                        >
                    </li>
                    {% endif %} {% if user.is_superuser %}
                    <a href="/admin" class="hover:underline">Admin Panel</a>
                    {% endif %} {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="hover:underline" href="{% url 'logout' %}"
                            >Log Out</a
                        >
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="hover:underline" href="{% url 'login' %}"
                            >Log In</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="hover:underline" href="{% url 'register' %}"
                            >Register</a
                        >
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="body">{% block body %} {% endblock %}</div>
        {% block footer %}
        <footer
            class="mt-20 px-32 py-6 flex justify-between border-b border-gray-200 static bottom-0 bg-gradient-to-r from-cyan-200 to-blue-300 shadow-lg"
        >
            <a
                href="https://github.com/droy117"
                class="text-xl text-gray-700 hover:underline flex"
                ><img
                    src="{% static 'images/github-mark-white.svg' %}"
                    class="w-8 mx-3"
                />Made by Debak Roy</a
            >
        </footer>
        {% endblock %}
    </body>
</html>
