{% block table %}
    <style>
        tr th,
        tr td {
            box-shadow: 0px 0px 0px 1px white inset;
        }

    </style>

   <div class="mt-4 h-96 overflow-y-scroll overflow-x-auto">
       <table class="table-auto border border-collapse text-center">
           <thead class="sticky top-0">
               <tr>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">Grievance ID</th>
                  {% if request.user.handler %}
                      <th class="py-1 px-2 bg-gray-200 font-semibold border">Username</th>
                  {% endif %}
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">Category</th>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">Priority</th>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">About</th>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">Status</th>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">Created At</th>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border">Reference No.</th>
                  <th class="py-1 px-2 bg-gray-200 font-semibold border"></th>
               </tr>
           </thead>
            <tbody>
                {% if request.user.handler %}
                    {% for grievance in all_grievances %}
                        <tr>
                            <td class="py-1 px-2 border">{{ grievance.id }}</td>
                            <td class="py-1 px-2 border">{{ grievance.user.username }}</td>
                            <td class="py-1 px-2 border">{{ grievance.category }}</td>
                            <td class="py-1 px-2 border">{{ grievance.priority }}</td>
                            <td class="py-1 px-2 border">{{ grievance.about }}</td>
                            <td class="py-1 px-2 border">{{ grievance.status }}</td>
                            <td class="py-1 px-2 border">{{ grievance.created_at }}</td>
                            <td class="py-1 px-2 border">{{ grievance.ref_no }}</td>
                            <td class="py-1 px-2 border"><a href="{% url 'grievance_detail' grievance.ref_no%}" class="py-1 px-8 text-lg bg-sky-500 hover:bg-sky-700 rounded-xl text-white">View</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for grievance in grievances %}
                        <tr>
                            <td class="py-1 px-2 border">{{ grievance.id }}</td>
                            <td class="py-1 px-2 border">{{ grievance.category }}</td>
                            <td class="py-1 px-2 border">{{ grievance.priority }}</td>
                            <td class="py-1 px-2 border">{{ grievance.about }}</td>
                            <td class="py-1 px-2 border">{{ grievance.status }}</td>
                            <td class="py-1 px-2 border">{{ grievance.created_at }}</td>
                            <td class="py-1 px-2 border">{{ grievance.ref_no }}</td>
                            <td class="py-1 px-2 border"><a href="{% url 'grievance_detail' grievance.ref_no%}" class="py-1 px-8 text-lg bg-sky-500 hover:bg-sky-700 rounded-xl text-white">View</a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}